%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title Filemanager

  = stylesheet_link_tag "tinymce_filemanager/application", media: "all"
  = javascript_include_tag "tinymce_filemanager/application"
  = csrf_meta_tags