.col-md-2
  .btn.btn-default.btn-block{"ng-click" => "$parent.$parent.showFiles = false", "ng-class" => "{'active' : !$parent.$parent.showFiles }"} Изображения
  .btn.btn-default.btn-block{"ng-click" => "$parent.$parent.showFiles = true", "ng-class" => "{'active' : $parent.$parent.showFiles }"} Файлы